Icon?
.DS_Store
.svn
code_coverage
*~
*.swp
coverage
kohana_release
nbproject
build
composer.lock
composer.phar
.idea/
dist/uploads/user/request_approve/
~$ormats.docx
formats.docx
httpd.conf
user-dtsrc-202601151514.sql
dramsfiles/*
uploads/htaccess/index.php
