<IfModule mod_rewrite.c>
    RewriteEngine On

    # Set base
    RewriteBase /

    # Block access to hidden files
    RewriteRule (^|/)\. - [F]

    # Block access to application, modules, system
    RewriteRule ^(application|modules|system) - [F,L]

    # If file or directory exists, serve it
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route all other requests to index.php
    RewriteRule ^ index.php [L]
</IfModule>

# Disable directory listing
Options -Indexes
<IfModule mod_headers.c>
    Header always set X-Frame-Options SAMEORIGIN
    Header always set X-Content-Type-Options nosniff
    Header always set X-XSS-Protection "1; mode=block"
</IfModule>
